* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    color: black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    }

header {
    height: 100px;
    background: #b06431;
    font-size: 18pt;
    padding: 15px;
}

article {
    background: #eeccb0;
    height: auto;
    width: 100%;
    text-align: left;
    padding: 15px;
    text-align: center;
}

footer {
    background: #b06431;
    height: 50px;
    padding: 5px;
}

.right-sidebar {
    background: #dbada1;
    color: black;
    padding: 15px; 
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  border-radius: 5px;

}



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
    margin: 2px;
    border-radius: 5px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #a71b45;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

img {
    width: 100%;
    border-radius: 5px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (min-width: 700px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap; 
   }
    header, footer {
        width: 100%;
    }
    article {
        flex: 2;
        order: 2;

   }
  
  .right-sidebar {
        flex: 1;
        order: 3;
   }

   footer {
        order: 4;
   }
   
    }
